body{
    background: rgb(34, 34, 34);
    color:rgb(255, 255, 255);
    font-family: arial, sans-serf;;
    border-image-width: auto;
}

.btn{
    padding: 10px 10px;
    width: 100px;
    color:rgb(0, 0, 0);
    background-color: rgb(20, 190, 57);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;  
    
}


.btn:hover{
    background: rgb(20, 131, 44);;
    transition: background 1s;
}


.btn2{
    padding: 10px 10px;
    width: 100px;
    color:rgb(0, 0, 0);
    background-color: rgb(20, 190, 57);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;  
    
}


.btn2:hover{
    background: rgb(20, 131, 44);;
    transition: background 1s;
}

.btn3{
    padding: 10px 10px;
    width: 100px;
    color:rgb(0, 0, 0);
    background-color: rgb(20, 190, 57);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;  
    
}


.btn3:hover{
    background: rgb(20, 131, 44);;
    transition: background 1s;
}

.btn4{
    padding: 10px 10px;
    width: 120px;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;  
    
}


.btn4:hover{
    background: rgb(105, 14, 14);;
    transition: background 1s;
}
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(15, 15, 15);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: rgb(255, 255, 255);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(255, 196, 0);
}
