body{

    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 58px;
    background-color: rgb(34, 34, 34);
    color:rgb(255, 255, 255);
    text-align: top

}
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(34, 34, 34);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: rgb(255, 255, 255);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(255, 196, 0);
}

.neon-bt {

    position: relative;
  
    display: inline-block;
  
    padding: 10px 20px;
  
    color: #ffffff;
  
    font-size: 16px;
  
    text-decoration: none;
  
    text-transform: uppercase;
  
    overflow: hidden;
  
    transition: 0.2s;
  
    margin-top: 40px;
  
    letter-spacing: 4px
  
  }
  
   
  
  .neon-bt:hover {
  
    background: #8f0909;
  
    color: #fff;
  
    border-radius: 5px;
  
    box-shadow: 0 0 5px #8f0909,
  
                0 0 25px #8f0909,
  
                0 0 50px #8f0909,
  
                0 0 100px #8f0909;
  
  }
  
  
  .neon-bt span {
  
    position: absolute;
  
    display: block;
  
  }

  
  .neon-bt span:nth-child(1) {
  
    top: 0;
  
    left: -100%;
  
    width: 100%;
  
    height: 2px;
  
    background: linear-gradient(90deg, transparent, #8f0909);
  
    animation: btn-anim1 1s linear infinite;
  
  }
  
   
  
  @keyframes btn-anim1 {
  
    0% {
  
      left: -100%;
  
    }
  
    50%,100% {
  
      left: 100%;
  
    }
  
  }

  
  .neon-bt span:nth-child(2) {
  
    top: -100%;
  
    right: 0;
  
    width: 2px;
  
    height: 100%;
  
    background: linear-gradient(180deg, transparent, #8f0909);
  
    animation: btn-anim2 1s linear infinite;
  
    animation-delay: .25s
  
  }
  
   
  
  @keyframes btn-anim2 {
  
    0% {
  
      top: -100%;
  
    }
  
    50%,100% {
  
      top: 100%;
  
    }
  
  }
  
  .neon-bt span:nth-child(3) {
  
    bottom: 0;
  
    right: -100%;
  
    width: 100%;
  
    height: 2px;
  
    background: linear-gradient(270deg, transparent, #8f0909);

  
    animation: btn-anim3 1s linear infinite;
  
    animation-delay: .5s
  
  }
  
   
  
  @keyframes btn-anim3 {
  
    0% {
  
      right: -100%;
  
    }
  
    50%,100% {
  
      right: 100%;
  
    }
  
  }

   

  .neon-bt span:nth-child(4) {
  
    bottom: -100%;
  
    left: 0;
  
    width: 2px;
  
    height: 100%;
  
    background: linear-gradient(360deg, transparent, #8f0909);
  
    animation: btn-anim4 1s linear infinite;
  
    animation-delay: .75s
  
  }
  
   
  
  @keyframes btn-anim4 {
  
    0% {
  
      bottom: -100%;
  
    }
  
    50%,100% {
  
      bottom: 100%;
  
    }
  
  }